/*
 * Configure your overrides for default settings and networks here.
 */

import { DebugLevel } from './models/debug-models';
import { NetworkChainID } from './server/config/config-chains';
import configDefaults from './server/config/config-defaults';
import configTokens from './server/config/config-tokens';
import { ChainType } from '@railgun-community/engine';

export const myConfigOverrides = () => {
  // Use these indices to configure HD wallets from the same mnemonic.
  // Each individual wallet needs gas funds, but they reuse the same RAILGUN wallet.
  configDefaults.wallet.hdWallets = [
    {
      index: 0,
      priority: 1,
    },
  ];

  // Set other configs, for example:
  //
  configDefaults.debug.logLevel = DebugLevel.WarningsErrors;
  //
  configDefaults.networks.EVM = [
    NetworkChainID.Ethereum,
    NetworkChainID.EthereumGoerli,
    NetworkChainID.BNBChain,
    NetworkChainID.PolygonPOS,
    NetworkChainID.PolygonMumbai,
  ];

  configTokens[ChainType.EVM][NetworkChainID.Ethereum] = {
    '0x_token_address': {
      symbol: 'TOKEN1',
    },
  };
};
