# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    - uses: actions/setup-node@v2
      with:
        node-version: '16.6'

    steps:
      - uses: actions/checkout@v2
      - run: npm i
      - run: npm test
